Repository 1stapossum/DEVOPS_sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

app_deploy_13
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  docker-compose.yaml
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_14
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_15
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_16
  .gitlab-ci.yml
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_17
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  docker-compose.yaml
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_18!
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/src/main/resources/application.properties
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
  docker-compose.yaml
Due: backend

app_deploy_19
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_20W
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_21
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_22
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_23
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_24
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_25
  .gitlab-ci.yml
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_26
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_27
  app_deploy.sh
Due: none

app_deploy_28
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_29
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

-latest
  app_deploy.sh
  backend-report/.gitlab-ci.yml
  backend-report/backend_rpt_deploy.sh
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  docker-compose.yaml
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
  frontend/src/polyfills.ts
Due: frontend, backend

#1
  app_deploy.sh
  docker-compose.yaml
Due: none

#2
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

1
  .gitlab-ci.yml
  docker-compose.yaml
  frontend/.gitlab-ci.yml
Due: frontend

2
  frontend-nginx/.gitlab-ci.yml
  frontend-nginx/Dockerfile
  frontend/.gitlab-ci.yml
Due: frontend

3
  .gitlab-ci.yml
Due: none

4
  frontend-nginx/.gitlab-ci.yml
Due: none

5
  frontend-nginx/.gitlab-ci.yml
Due: none

6
  frontend-nginx/.gitlab-ci.yml
Due: none

7
  frontend-nginx/Dockerfile
Due: none

8
  frontend-nginx/Dockerfile
  frontend/Dockerfile
Due: frontend

9
  frontend-nginx/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/Dockerfile.nginx
Due: frontend

10
  .gitlab-ci.yml
Due: none

10
  frontend/Dockerfile.nginx
Due: frontend

11
  frontend/Dockerfile.nginx
Due: frontend

12
  frontend/Dockerfile.nginx
Due: frontend

13
  frontend/.gitlab-ci.yml
  frontend/Dockerfile.nginx
Due: frontend

14
  frontend/Dockerfile.nginx
Due: frontend

15
  docker-compose.yaml
Due: none

16
  docker-compose.yaml
Due: none

17
  frontend/Dockerfile.nginx
  frontend/nginx.conf
Due: frontend

18
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

19
  app_deploy.sh
  docker-compose.yaml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
