Repository 1stapossum/DEVOPS_sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

variables:
  VERSION: 1.0.${CI_PIPELINE_ID}



stages:
  - module-pipelines
  - deploy

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке!!
      - backend/**/* 

#deploy:
#  stage: deploy
#  when: manual
#  script:
#     
#    - scp ./backend/sausage-store.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_BACKEND_REPO_URL=${NEXUS_BACKEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./backend/deploy.sh 
#
#    - scp ./frontend/sausage-store-front.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store-front.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_FRONTEND_REPO_URL=${NEXUS_FRONTEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./frontend/deploy.sh 
#
#    # Раздельный deploy конечно правильнее, но ошибка /scripts-182-98505/step_script: line 147: apt-get: command not found заставила меня оставить так как есть.
#    # Ибо решение данной проблемы потребует драгоценное время.

test#3
  backend/.gitlab-ci.yml
Due: backend

test#4
  backend/.gitlab-ci.yml
Due: backend

fin_wo_sast
  backend/.gitlab-ci.yml
Due: backend

1
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/frontend_deploy.sh
Due: frontend

2
  frontend/.gitlab-ci.yml
Due: frontend

3
  frontend/.gitlab-ci.yml
Due: frontend

4
  frontend/.gitlab-ci.yml
Due: frontend

5
  frontend/Dockerfile
Due: frontend

6
  frontend/.gitlab-ci.yml
Due: frontend

7
  frontend/Dockerfile
Due: frontend

8
  frontend/.gitlab-ci.yml
Due: frontend

9
  frontend/.gitlab-ci.yml
Due: frontend

10
  frontend/.gitlab-ci.yml
Due: frontend

11
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

12
  frontend/.gitlab-ci.yml
Due: frontend

13
  frontend/.gitlab-ci.yml
Due: frontend

14
  frontend/Dockerfile
Due: frontend

15
  frontend/.gitlab-ci.yml
Due: frontend

16
  frontend/.gitlab-ci.yml
Due: frontend

17
  frontend/.gitlab-ci.yml
Due: frontend

17
  frontend/Dockerfile
Due: frontend

18
  frontend/Dockerfile
Due: frontend

18
  frontend/frontend_deploy.sh
Due: frontend

19
  frontend/Dockerfile
Due: frontend

20
  frontend/frontend_deploy.sh
Due: frontend

21
  frontend/Dockerfile
Due: frontend

22
  frontend/Dockerfile
Due: frontend

backend
  backend/backend_deploy.sh
Due: backend

ba2
  backend/.gitlab-ci.yml
Due: backend

ba3
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
Due: backend

ba4
  frontend/.gitlab-ci.yml
Due: frontend

ba5
  frontend/.gitlab-ci.yml
Due: frontend

1
  backend/.gitlab-ci.yml
Due: backend

2
  backend/.gitlab-ci.yml
Due: backend

backend_in_docker
  backend/.gitlab-ci.yml
Due: backend

doecker_F_B
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

links OS
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

1
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

3
  backend/src/main/resources/application.properties
Due: backend

ipaddimport
  backend/src/main/resources/application.properties
Due: backend
