Repository 1stapossum/DEVOPS_sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

variables:
  VERSION: 1.0.${CI_PIPELINE_ID}



stages:
  - module-pipelines
  - deploy

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке!!
      - backend/**/* 

#deploy:
#  stage: deploy
#  when: manual
#  script:
#     
#    - scp ./backend/sausage-store.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_BACKEND_REPO_URL=${NEXUS_BACKEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./backend/deploy.sh 
#
#    - scp ./frontend/sausage-store-front.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store-front.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_FRONTEND_REPO_URL=${NEXUS_FRONTEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./frontend/deploy.sh 
#
#    # Раздельный deploy конечно правильнее, но ошибка /scripts-182-98505/step_script: line 147: apt-get: command not found заставила меня оставить так как есть.
#    # Ибо решение данной проблемы потребует драгоценное время.

20
  frontend/Dockerfile.nginx
  frontend/nginx.conf
Due: frontend

21
  frontend/nginx.conf
Due: frontend

22
  frontend/Dockerfile.nginx
Due: frontend

23
  frontend/nginx.conf
Due: frontend

24
  docker-compose.yaml
Due: none

25
  docker-compose.yaml
Due: none

25_custom bc name
  docker-compose.yaml
Due: none

25_- conf
  frontend/Dockerfile.nginx
Due: frontend

25_- conf_2
  frontend/nginx.conf
Due: frontend

25_- conf_2_domain_
  docker-compose.yaml
Due: none

26
  app_deploy.sh
  frontend/Dockerfile.nginx
  frontend/proxytemplate
Due: frontend

27
  frontend/Dockerfile.nginx
Due: frontend

28
  app_deploy.sh
Due: none

29
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

30
  frontend/Dockerfile
Due: frontend

fin
  frontend/Dockerfile.nginx
  frontend/nginx.conf
Due: frontend

first try
  backend/pom.xml
  docker-compose.yaml
Due: backend

3.3to3.4
  docker-compose.yaml
Due: none

add health to apppropp
  backend/src/main/resources/application.properties
Due: backend

add curl
  backend/Dockerfile
Due: backend

fix pom
  backend/pom.xml
Due: backend

2 cont add contname gr bl
  backend/pom.xml
Due: backend

2 cont add contname gr bl#2
  docker-compose.yaml
Due: none

-name
  app_deploy.sh
  docker-compose.yaml
Due: none

blue/green
  app_deploy.sh
Due: none

b/g 2
  app_deploy.sh
Due: none

b/g 3
  app_deploy.sh
Due: none

b/g 4
  app_deploy.sh
Due: none

b/g 5
  app_deploy.sh
Due: none

b/g 6
  app_deploy.sh
Due: none

b/g 7
  app_deploy.sh
Due: none

b/g 8
  app_deploy.sh
Due: none

b/g 9
  app_deploy.sh
Due: none

b/g 10 #BACKEND RUN CHECK
  app_deploy.sh
Due: none

b/g 11 #VAULT
  app_deploy.sh
Due: none

b/g 12 #b/g 11 #VAULT#and or fix
  app_deploy.sh
Due: none

b/g 10 #GB#fix
  app_deploy.sh
Due: none

b/g 10 #GB#fix_start after wait
  app_deploy.sh
Due: none

b/g 10 #GB#fix_start after wait#2
  app_deploy.sh
Due: none
