Repository 1stapossum/DEVOPS_sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

variables:
  VERSION: 1.0.${CI_PIPELINE_ID}



stages:
  - module-pipelines
  - deploy

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке!!
      - backend/**/* 

#deploy:
#  stage: deploy
#  when: manual
#  script:
#     
#    - scp ./backend/sausage-store.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_BACKEND_REPO_URL=${NEXUS_BACKEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./backend/deploy.sh 
#
#    - scp ./frontend/sausage-store-front.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store-front.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_FRONTEND_REPO_URL=${NEXUS_FRONTEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./frontend/deploy.sh 
#
#    # Раздельный deploy конечно правильнее, но ошибка /scripts-182-98505/step_script: line 147: apt-get: command not found заставила меня оставить так как есть.
#    # Ибо решение данной проблемы потребует драгоценное время.

b/g 11# new bash
  app_deploy.sh
Due: none

b/g 11# new bash2
  app_deploy.sh
Due: none

b/g 11# new bash3
  app_deploy.sh
Due: none

b/g 12
  app_deploy.sh
Due: none

b/g 13 #fix up to start
  app_deploy.sh
Due: none

b/g 13 #fix up to start 2
  app_deploy.sh
Due: none

b/g 14 fix time
  app_deploy.sh
Due: none

b/g 15 vault
  app_deploy.sh
Due: none

b/g 16 fix BACKEND RUN CHECK
  app_deploy.sh
Due: none

b/g 16 fix mongo
  app_deploy.sh
Due: none

vault staus fix
  app_deploy.sh
Due: none

sast2
  backend/.gitlab-ci.yml
Due: backend

sast3
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

DB_PASS-
  .gitlab-ci.yml
Due: none

FIX .env
  .gitlab-ci.yml
Due: none

FIX_deploy+export
  .gitlab-ci.yml
Due: none

FIX_deploy+export#2
  .gitlab-ci.yml
Due: none

FIX_deploy+export#-mongo
  .gitlab-ci.yml
Due: none

ENV_FIX#1_SOURCE_FIX#1
  .gitlab-ci.yml
  backend-report/backend_rpt_deploy.sh
  backend/.env
  backend/backend_deploy.sh
  backend/deploy.sh
  backend/sausage-store.service
  backend/src/main/resources/application.properties
  docker-compose.yaml
  frontend/frontend_deploy.sh
Due: frontend, backend

spring.cloud.vault.host=${VAULT_HOST}
  backend/src/main/resources/application.properties
Due: backend

spring.cloud.vault.host=${VAULT_HOST}#REPORT
  backend-report/src/main/resources/application.properties
Due: none

FIX#Dockerfile_deploy
  .gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

FIX#Dockerfile_deploy#2
  .gitlab-ci.yml
Due: none

FIX#Dockerfile_deploy#3
  frontend/.gitlab-ci.yml
Due: frontend

kubernetes
  frontend/Dockerfile
  kubernetes/backend-report/backend-report-deploy.yml
  kubernetes/backend-report/backend-report-secrets.dis
  kubernetes/backend/backend-deploy.yml
  kubernetes/backend/backend-secrets.yaml
  kubernetes/backend/backend-secrets.yaml.bk
  kubernetes/backend/backend-service.yaml
  kubernetes/frontend/Dockerfile
  kubernetes/frontend/frontend-configmap.yml
  kubernetes/frontend/frontend-deploy.yml
  kubernetes/frontend/frontend-secrets.yml
  kubernetes/frontend/frontend-service.yml
  kubernetes/vault/ihatevault.sh
  kubernetes/vault/vaultpod.yml
  kubernetes/vault/vaultrun
Due: frontend

latest add yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

k8s_deploy+latest
  kubernetes/backend-report/backend-report-deploy.yml
  kubernetes/backend/backend-deploy.yml
  kubernetes/frontend/frontend-deploy.yml
Due: none

deploy
  .gitlab-ci.yml
Due: none

deploy#2
  .gitlab-ci.yml
Due: none

deploy#3
  .gitlab-ci.yml
Due: none

deploy#4
  .gitlab-ci.yml
Due: none

deploy#5
  .gitlab-ci.yml
Due: none

deploy#6
  .gitlab-ci.yml
Due: none

deploy#7
  .gitlab-ci.yml
Due: none

deploy#8
  .gitlab-ci.yml
Due: none

k8s added
  kubernetes/backend/backend-deploy.yml
Due: none

k8s-adventures
  .gitlab-ci.yml
Due: none

frontend fix
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend

frontend fix2
  frontend/Dockerfile
Due: frontend

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend
