Repository 1stapossum/DEVOPS_sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

manual
  .gitlab-ci.yml
Due: none

Central deploy manual
  backend/deploy.sh
  frontend/deploy.sh
Due: frontend, backend

1
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Separate deploy added
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Manual deploy
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

1
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

2
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

3
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

4
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

5
  .gitlab-ci.yml
  backend/deploy.sh
  frontend/deploy.sh
Due: frontend, backend

6
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: frontend

7
  backend/deploy.sh
  frontend/deploy.sh
Due: frontend, backend

8
  frontend/.gitlab-ci.yml
Due: frontend

9
  frontend/.gitlab-ci.yml
Due: frontend

10
  backend/deploy.sh
  frontend/deploy.sh
Due: frontend, backend

Pgsql added
  backend/deploy.sh
  backend/pom.xml
  backend/sausage-store.service
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
  frontend/deploy.sh
  frontend/sausage-store-front.service
Due: frontend, backend

README.MD
  README.md
Due: none

1
  backend/pom.xml
Due: backend

2
  backend/pom.xml
  backend/src/main/resources/db/migration/R01__grantpriv.sql
  backend/src/main/resources/db/migration/V01__create_tables.sql
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

3
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

4
  backend/deploy.sh
Due: backend

5
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

6
  backend/deploy.sh
Due: backend

7
  backend/deploy.sh
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

8
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

8
  backend/deploy.sh
Due: backend

9
  backend/deploy.sh
  backend/pom.xml
Due: backend

10
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

11
  backend/deploy.sh
Due: backend

12
  backend/deploy.sh
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

13
  backend/deploy.sh
  backend/src/main/resources/db/migration/V02__alter.sql
Due: backend

14
  backend/deploy.sh
  backend/pom.xml
Due: backend

15
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
Due: backend

16
  backend/deploy.sh
  backend/src/main/resources/db/migration/R01__grantpriv
  backend/src/main/resources/db/migration/V01__create_tables.sql
  backend/src/main/resources/db/migration/V02__alter
Due: backend

17
  backend/deploy.sh
Due: backend

18
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/db/migration/V01__create_tables.sql
Due: backend

19
  backend/src/test/resources/application.properties
Due: backend

20
  backend/deploy.sh
Due: backend

21
  backend/deploy.sh
  backend/pom.xml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
