Repository 1stapossum/DEVOPS_sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

variables:
  VERSION: 1.0.${CI_PIPELINE_ID}



stages:
  - module-pipelines
  - deploy

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend #depend нужен, если какой-нибудь дочерний пайплайн свалился, мы знали, что общий пайплайн тоже идёт с ошибкой
  only:
    changes: #как только происходит изменение в папке frontend, запускается дочерний пайплайн, который лежит в этой папке
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  #как только происходит изменение в папке backend, запускается дочерний пайплайн, который лежит в этой папке!!
      - backend/**/* 

#deploy:
#  stage: deploy
#  when: manual
#  script:
#     
#    - scp ./backend/sausage-store.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_BACKEND_REPO_URL=${NEXUS_BACKEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./backend/deploy.sh 
#
#    - scp ./frontend/sausage-store-front.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store-front.service
#    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "DEV_USER=${DEV_USER}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}"; export "NEXUS_FRONTEND_REPO_URL=${NEXUS_FRONTEND_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}"; setsid /bin/bash -s " < ./frontend/deploy.sh 
#
#    # Раздельный deploy конечно правильнее, но ошибка /scripts-182-98505/step_script: line 147: apt-get: command not found заставила меня оставить так как есть.
#    # Ибо решение данной проблемы потребует драгоценное время.

minusport
  backend/src/main/resources/application.properties
Due: backend

POM
  backend/pom.xml
Due: backend

token
  backend/src/main/resources/application.properties
Due: backend

kv
  backend/src/main/resources/application.properties
Due: backend

kv2
  backend/src/main/resources/application.properties
Due: backend

3
  backend/src/main/resources/application.properties
Due: backend

4
  backend/src/main/resources/application.properties
Due: backend

sec
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: backend

mpom
  backend/pom.xml
Due: backend

-release
  backend/.gitlab-ci.yml
Due: backend

tag
  backend/.gitlab-ci.yml
Due: backend

cahe
  backend/.gitlab-ci.yml
Due: backend

cahe2
  backend/.gitlab-ci.yml
Due: backend

fun
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

Extracted reports to the new microservice
  backend-report/.dockerignore
  backend-report/Dockerfile
  backend-report/pom.xml
  backend-report/src/main/java/com/yandex/practicum/devops/MongoSkipSSLConfig.java
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/TrustAllCerts.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend-report/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend-report/src/main/resources/application.properties
  backend-report/src/main/resources/logback.xml
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

1
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/backend_rpt_deploy.sh
  backend-report/src/main/resources/application.properties
Due: none

2
  backend-report/.gitlab-ci.yml
Due: none

3
  backend-report/.gitlab-ci.yml
Due: none

4
  backend-report/.gitlab-ci.yml
Due: none

5
  .gitlab-ci.yml
Due: none

6
  backend-report/.gitlab-ci.yml
Due: none

7
  backend-report/.gitlab-ci.yml
Due: none

8
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
Due: none

9
  backend-report/.gitlab-ci.yml
Due: none

10
  backend-report/Dockerfile
Due: none

11
  backend-report/.gitlab-ci.yml
Due: none

12
  backend-report/Dockerfile
Due: none

13
  backend-report/Dockerfile
Due: none

app_deploy_1
  .gitlab-ci.yml
  app_deploy.sh
  docker-compose.yaml
Due: none

app_deploy_2
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/backend_rpt_deploy.sh
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_3
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_4
  .gitlab-ci.yml
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_5
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_6
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_7
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_8
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_9
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_10
  .gitlab-ci.yml
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_11
  app_deploy.sh
  backend-report/backend_rpt_deploy.sh
  backend/backend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend, backend

app_deploy_12
  backend-report/src/main/resources/application.properties
  backend/src/main/resources/application.properties
  docker-compose.yaml
  frontend/frontend_deploy.sh
Due: frontend, backend
